config/kconf_updaterc
config/konsolerc
config/krunnerrc
config/manjaro
config/plasmashellrc
config/systemsettingsrc
config/pulse
config/plasma-org.kde.plasma.desktop-appletsrc
config/session
config/yakuakerc
config/omf
config/kfontinstuirc
config/kfontviewrc
config/khotkeysrc
config/katevirc
config/kitty/kitty-themes/
config/kde.org/UserFeedback.org.kde.kate.conf
config/emaildefaults
config/dconfconfig/configstore
config/pamac
config/configstore
config/dconf
config/akregatorrc
config/baloofilerc
config/bluedevilglobalrc
config/dolphinrc
config/falkon
config/fontconfig
config/gtkrc
config/gwenviewrc
config/kactivitymanagerdrc
config/kactivitymanagerd-statsrc
config/katerc
config/kateschemarc
config/katesyntaxhighlightingrc
config/kcminputrc
config/kactivitymanagerdrc
config/kdeconnect
config/kde.org
config/kded5rc
config/ksmserverrc
config/kwalletrc
config/libaccounts-glib
config/okularpartrc
config/pamac
config/pipewire-media-session
config/plasma-localerc
config/plasma-nm
config/plasmanotifyrc
config/plasma-workspace
config/pulse
config/QtProject.conf
config/spectaclerc
config/systemmonitorrc
config/touchpadxlibinputrc
config/user-dirs.locale
config/yakuakerc
config/gtk-3.0/assets
config/KDE
config/kmixrc
config/knfsshare
config/ktimezonedrc
config/manjaro-hello.json
config/okularrc
config/plasmarc
config/nvim/init.local.vim
config/fish/config.local.fish
