# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"
# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

# Random Photo Every Login
# feh --bg-fill --randomize ~/.local/wallpapers

# Monitor Config
# xrandr --output eDP1 --mode 1920x1080
# xrandr --output HDMI1 --left-of eDP1

# Settings for turning off screen saver, that I keep in case I want to go back
# xset s off
# xset -dpms
# xset s noblank

# Speedy keys
xset r rate 210 100

### Useful/aesthetic apps
# Hide mouse when typing
# xbanish &
# Screenshots
# flameshot &
# helps with puls audio
# pasystray &

# load Xresources
xrdb ~/.Xresources

# Applets (that I don't really like but I'll keep just in case)
# blueman-applet &
# nm-applet --indicator &

